#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
}

.main-title {
  font-size: 47px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #121212;
  }
}
